#root {
  width:auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.container {
  background-color:white;
  padding:50px;
  margin:30px 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  
}

.headerText {
  float: left;
  flex-direction:row;
}

.headerText p {
  text-align:left;
  font-weight:bold;
}

.headerText b {
  background-color:#FFF6ED;
  color: #c4320a;
  padding:8px;
  border-radius:0.6em;
  font-size:x-small
  
}

.headerButton {
  float: right;
}

.headerButton button {
  background-color:white;
  border-color: black;
  color:#475467;
  padding:20px 30px;
  margin-bottom:30px;
  margin-top:-30px;
}


